.home {
  display: flex;
  height: 100vh;
}

.home-left,
.home-right {
  flex: 1;
  padding: 2rem;
}

.home-left {
  background-color: #f5f5f5;
}

.home-right {
  background-color: #ffffff;
  border-left: 1px solid #ddd;
}
